$font-size: 14px;
$horizontal_padding: 20vw;
$vertical_padding: 100px;
$text-color1: white;
$text-color2: black;
$bg-color: #202731;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$colors: (
    "one": rgb(136, 230, 136),
    "two": rgb(15, 15, 211),
    "three": rgb(252, 252, 0),
    "four": purple,
);