@import "config";
@mixin pseudo {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
}
body{
    font: {
        family: Verdana, Geneva, Tahoma, sans-serif;
        size: $font-size;
    }
    overflow-x: hidden;
    background-color: $bg-color;
}
section{
    position: relative;
    min-height: 400px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $vertical_padding $horizontal_padding;
    line-height: 30px;
    z-index: 0;
  
  }
  .one{
    background-color: map-get($map: $colors, $key: one);
  }
  .curve{
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
  }
  .curve::before {
    @include pseudo();
    transform: translate(85.1%, 63.1%);
    background-color: $bg-color;
  }
  

  .curve::after {
    @include pseudo();
    background-color: map-get($map: $colors, $key: one );
    transform: translate(-2.5%, 40.5%);
    z-index: -1;
  }
 .bubble::after{
   content: '';
   height: 85%;
   width: 100%;
   bottom: 0;
   position: absolute;
   border-top-right-radius: 50% 100%;
   border-top-left-radius: 50% 100%;
   background-color:map-get($map: $colors, $key: one);
   z-index: -1;
 }
 .green_bubble{
  background-color:map-get($map: $colors, $key: one);
 }
 .red_box{
  background-color: red;
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    &{
      svg {
        position: relative;
        display: block;
        width: calc(108% + 1.3px);
        height: 166px;
    }
    .shape-fill{
      fill: #202731;
    }
    }
}

 }
 .pink_container{
  background-color: #E34E67;
 }
 .spacer{
   height: 300px;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   z-index: 2;
 }
 .layer{
   background-image: url('../svg/layered-waves-haikei.svg');
   z-index: 2;
 }
 .top_wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  &{
    svg{
      position: relative;
      display: block;
      width: calc(107% + 1.3px);
      height: 112px;
    }
    .shape-fill{
      fill: $bg-color;
    }
  }
}

